MONGO_URI="mongodb://127.0.0.1:27017/fixnride_db"

INTERNAL_API_KEY="MobiFix_Super_Secret_Key_2024"

DATA_API_PORT=3001
DATA_API_URL="http://localhost:3001"

LN_API_PORT=5001
LN_API_URL="http://localhost:5001"

DataApiSettings__BaseUrl="http://localhost:5000"


JwtSettings__SecretKey="MobiFixSecretKey2024MobiFixSecretKey2024"